@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-oxanium: 'Oxanium', system-ui, sans-serif;
  --font-noto-serif: 'Noto Serif SC', serif;
}

/* 默认使用中文字体 */
html {
  font-family: var(--font-noto-serif);
}

/* 英文文本使用 Oxanium */
*:lang(en) {
  font-family: var(--font-oxanium);
}
